apiVersion: 1

datasources:
  - name: {{ prometheus_datasource_name }}
    type: prometheus
    access: proxy
    url: {{ prometheus_datasource_url }}
    isDefault: true
  - name: {{ loki_datasource_name }}
    type: loki
    access: proxy
    url: {{ loki_datasource_url }}
